$layout-width: 1280px;
$text-color:rgba(0,0,0,0.87);
$text-font: 'Montserrat', sans-serif;
$main-background: #fff;

// ブレークポイント
$breakpoints: (
"sm": "screen and (max-width: 640px)",
"md": "screen and (max-width: 768px)",
"lg": "screen and (max-width: 1024px)",
"xl": "screen and (max-width: 1280px)"
) !default;

// メディアクエリー
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//@include mq('sm') {}
//@include mq('md') {}
//@include mq('lg') {}
//@include mq('xl') {}

//color
$green: green;